/* CSS Document */
/* [1. Body] */

/*Gallery*/
#gallery {
	margin: 0 auto;
	height: 376px;
	overflow: hidden;
	z-index: 1;
}

.container_image {
	margin: 0 auto;
	position: relative;
	width: 100%;
	font-size: .8125em;
}
/*===== gallery =====*/
.roundabout-holder {
	width: 900px;
	height: 376px;
	margin: 0 auto;
}

.roundabout-moveable-item {
	width: 570px;
	height: 356px;
	cursor: pointer;
	border: 3px solid #ccc;
	border: 3px solid rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	overflow: hidden;
}

.roundabout-moveable-item>div {
    width: 568px !important;
    height: 354px !important;
}


.roundabout-in-focus {
	border: 3px solid rgba(0, 0, 0, 0.2);
}